body {
    color: #000080;
    background: #b80000;
    font-family: Oswald;
}
a {
    color:purple;
}
a:visited {
    color:red;
}
li > a {
    font-size:16px;
}
ul {
    columns:2;
    -webkit-columns:2;
    -moz-columns:2;

}
.links {
border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.geico {
border-bottom: 1px solid black;
}
footer {
    border-top: 1px solid black;
}
li {
    font-size:14px;
}
header {
    font-size: 18px;
    font-weight: bold;
    text-align:center;
}
.big-letter {
    font-size: 32px;
}

#inc {
    font-size: 14px;
}
.geico {
 text-align: center;
 font-size: 14px;
}

}
+/What is important to know when linking an external file (like a stylesheet) to an HTML file?
It's important to know how the syntax should look like and to link the href="" part to your file. My partner and I put an extra / in the begining of the link, and the whole thing didn't work. Also you have to add the class or id name so you can add css to the separte file

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
Not really a trick, but I used the moz-columns an webkit-columns attribute to make it work on different browsers.

What CSS did you use to modify the element style (like size, color, etc.)
I used the font-family, font-size, font-weight and color.

Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?
Yes I did. My partner and I added the class tag to the Berkshire Hathaway's begining letters because we needed the css to effect two  things instead of just one. We used the id on the geico picture and the text underneath it to make the whole paragraph and picture centered.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
Well when I opened the source code my partner brought an interesting point up. How there were <div> tags with nothing in them. He assumed that who ever made this website used some program to make it. Our website did seem like it made more sense the way the code looked, so I would say our way was the best way to practice.
+/